<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulbasaur</title>
</head>
<body>
<header>
    <h1>Bulbasaur</h1>
</header>

<section id="informacion-general">
    <img src="https://img.pokemondb.net/artwork/large/bulbasaur.jpg" alt="Bulbasaur" width="200">
    <p><strong>Tipo:</strong> Planta/Veneno</p>
    <p><strong>Altura:</strong> 0.7 m (2'04")</p>
    <p><strong>Peso:</strong> 6.9 kg (15.2 lbs)</p>
    <p>Bulbasaur es conocido como el Pokémon Semilla. Evoluciona a Ivysaur a partir del nivel 16 y luego a Venusaur en
        el nivel 32. Bulbasaur tiene un bulbo de planta en su espalda que crece a medida que evoluciona.</p>
    <p><strong>Habilidades:</strong> Overgrow, Clorofila (Habilidad Oculta)</p>
</section>

<section id="curiosidades">
    <p>Bulbasaur es uno de los Pokémon iniciales originales de la región Kanto y es conocido por sus estadísticas
        equilibradas y versatilidad en las batallas.</p>
</section>

<footer>
    <p>&copy; 2024 Pokémon.</p>
</footer>
</body>
</html>
