<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charizard</title>
</head>
<body>
<header>
    <h1>Charizard</h1>
</header>

<section id="informacion-general">
    <img src="https://img.pokemondb.net/artwork/large/charizard.jpg" alt="Charizard" width="200">
    <p><strong>Tipo:</strong> Fuego/Volador</p>
    <p><strong>Altura:</strong> 1.7 m (5'07")</p>
    <p><strong>Peso:</strong> 90.5 kg (199.5 lbs)</p>
    <p>Charizard es conocido como el Pokémon Llama. Evoluciona de Charmeleon a partir del nivel 36. Charizard es capaz
        de respirar fuego intenso y es conocido por sus impresionantes habilidades de vuelo.</p>
    <p><strong>Habilidades:</strong> Blaze, Poder Solar (Habilidad Oculta)</p>
</section>

<section id="curiosidades">
    <p>Charizard ha aparecido en varios juegos, series y películas, y es uno de los Pokémon más populares entre los
        fanáticos.</p>
</section>

<footer>
    <p>&copy; 2024 Pokémon.</p>
</footer>
</body>
</html>
